            * {
                box-sizing: border-box;
            }
            
            body {
                font-family: Arial;
                color: #333;
            }
            
            h1 {
                text-align: center;
                font-size: 60px;
            }
            
            nav ul {
                background-color: #2b0280;
                padding: 20px;
                margin: 20px;
            }
            
            nav li a {
                display: block;
                color: white;
                padding: 10px;
                margin: 5px;
                text-decoration: none;
                background-color: #ab00ba;
            }
            
            nav li {
                list-style-type: none;
            }
            
            nav a:hover {
                background-color: white;
                color: #ab00ba;
            }
            
            section {
                padding: 20px;
            }
            
            footer {
                padding: 20px;
                text-align: center;
                margin-top: 100px;
            }
            
            .row {
                display: flex;
                flex-direction: column;
            }
            
            @media screen and (min-width:400px) {
                h1 {
                    text-align: center;
                    font-size: 30px;
                }
                nav ul {
                    background-color: #2b0280;
                    padding: 20px;
                    margin: 20px;
                }
                nav li a {
                    display: block;
                    color: white;
                    padding: 10px;
                    margin: 5px;
                    text-decoration: none;
                    background-color: #ab00ba;
                }
                nav li {
                    list-style-type: none;
                }
                nav a:hover {
                    background-color: white;
                    color: #ab00ba;
                }
                section {
                    padding: 20px;
                }
                footer {
                    padding: 20px;
                    text-align: center;
                    margin-top: 100px;
                }
                .row {
                    display: flex;
                    flex-direction: column;
                }
                #issue {
                    background-color: gray;
                }
            }
            
            @media screen and (min-width: 768px) {
                h1 {
                    text-align: center;
                    font-size: 30px;
                }
                nav ul {
                    background-color: #2b0280;
                    padding: 20px;
                    margin: 20px;
                }
                nav li a {
                    display: inline;
                    color: white;
                    padding: 10px;
                    margin: 5px;
                    text-decoration: none;
                    background-color: #ab00ba;
                }
                nav li {
                    list-style-type: none;
                    display: inline;
                }
                nav a:hover {
                    background-color: white;
                    color: #ab00ba;
                }
                section {
                    padding: 20px;
                }
                footer {
                    padding: 20px;
                    text-align: center;
                    margin-top: 100px;
                }
                .row {
                    display: flex;
                    flex-direction: row;
                }
                #issue {
                    background-color: none;
                }
            }